body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

/* HEADER */
.page-header {
    background-color: #c55a00;
    padding: 20px 0;
}

/* HERO BERANDA */
.hero-pti {
    background: linear-gradient(135deg, #0d6efd, #084298);
}

/* FOOTER */
footer {
    background-color: #212529;
    color: white;
}

/* HERO BERANDA PTI */
.hero-pti {
    background: linear-gradient(135deg, #0d6efd, #084298);
    border-radius: 16px;
}

/* Supaya teks lebih enak dibaca */
.hero-pti h1 {
    font-size: 2.2rem;
}

.hero-pti p {
    font-size: 1rem;
    opacity: 0.95;
}
